/*||GENERAL ELEMENTS*/

html{
    font-size: 13;
    color:red;
}

body {
    flex-direction: column;
    display: flex;
}

h1 {
    font-size: 2em;
}

h2{
 font-size: 1.5em;
}

img {
    height: 240px;
    width: 240px;
}

/*||SITE WIDE*/

header {
    align-self: flex-start;
}

#image_1 {
    align-self: flex-start;
}

#content {
    height: 240px;
    width: 240px;
}

#image_2 {
    height: 240px;
    width: 240px;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-align-right {
    justify-content: right;
    align-items: flex-end;
}


