html{
    font-size: 13;
}

body {
    flex-direction: column;
    flex-wrap: wrap;
}

h2{
    font-size: 2em;
    font-weight: 500;
}

img {
    height: 240px;
    width: 240px;
}

/*||SITE WIDE*/

footer {
    flex-direction: row;
}

#content_1 {
    height: 240px;
    width: 240px;
}

#image_1 {
    height: 240px;
    width: 240px;
}

#content_2 {
    height: 240px;
    width: 240px;
}

#image_2 {
    height: 240px;
    width: 240px;
}

#content_3 {
    height: 240px;
    width: 240px;
}

#image_3 {
    height: 240px;
    width: 240px;
}