html{
    font-size: 13;
    color:blue;
}

body {
    flex-direction: column;
    display: flex;
}

h2{
    font-size: 1.5em;
    font-weight: 500;
}

img {
    height: 240px;
    width: 240px;
}

/*||SITE WIDE*/

footer {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}

#content {
    height: 240px;
    width: 240px;
    display: flex;
}

header {
    display: none
}

.flex-align-right {
    justify-content: right;
    align-items: flex-end;
    display: flex;
}