
.header-container{
    display: flex;
    flex-direction: row;
    flex-wrap: row wrap;
    margin-right: 3em;
    margin-left: -1px;  
    width: 100%;
    background-color: rgb(233, 172, 119);
}
header h2 {
    padding-top: 20px;
    padding-bottom: 0px;
    display: inline-block;
    margin-left: 50px;
    margin-top: 15px;
    font-weight: bolder;
    font-style:italic;
    font-size: 32px;
    font-family: 'Serif';
    background-color: rgb(233, 172, 119);
}
.navigation-bar,ul,li {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: rgb(233, 172, 119);
}
header ul {
    list-style: none;  
    background-color: rgb(233, 172, 119);
}.nav-elements > li { 
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    font-size: 20px;
    font-weight:normal;
    color: rgba(7, 7, 7, 0.35);
}
#button {
    position: absolute;
    top: 30px;
    right: 30px;
    margin-left:auto;
    border: 1px solid #bebeba;
    padding: 20px 30px;
    border-radius:40px;
    color: rgba(7, 7, 7, 0.35);
    border-color: rgba(7, 7, 7, 0.35);
    letter-spacing:1px;
    font-size: 12px;
    z-index: 3;
    background-color: rgb(255, 255, 255);

}

.main-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.25fr 1.25fr 1fr;
    grid-template-rows: 400px;
    background-color: rgb(233, 172, 119);
}
#sidebox {
    margin-top: 50px;
    position: absolute;
    right: 0px;
    margin-left: auto;
    background-color: rgb(233, 172, 119);
}

#anim-placeholder {
    margin-top: 50px;
    margin-left: 10px;

}
.left-text {
    margin-top: 50px;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    align-self: center;
}
.highlights {
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

#highlights-header {
    margin-top: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}

.short-course {
    margin-left: 70px;
    margin-right: 70px;
    border-style: solid;
    border-color: rgba(7, 7, 7, 0.35);
    width: 250px;
    height: 350px;
}

.short-course > h6 {
    text-align: center;
    font: normal 18px/18px "psiksans-lightregular", Helvetica, Arial, sans-serif;
}

.short-course > p {
    text-align: center;
}
.short-text {
    color: blue;
    
}

.round-img {
    border-radius: 25px;
    margin-left: 100px;
    margin-top: 10px;
}

.button-course {
    width: 100px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 100px;
    border: 1px solid #bebeba;
    padding: 20px 30px;
    border-radius:40px;
    color: rgba(7, 7, 7, 0.35);
    border-color: rgba(7, 7, 7, 0.35);
    letter-spacing:1px;
    font-size: 12px;
    z-index: 3;
    background-color: rgb(255, 255, 255);
    text-align: center;
}