/* fonts*/
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Light-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 300;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('Roboto-LightItalic-webfont.woff') format('woff');
    font-style: italic;
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 700;
  }
/* Working on headers*/
h1 {
    font-weight: bold;
    color: darkcyan;
    text-align: center;
    max-width: 650px;
}

/*Editing paragraphs*/
p {
    text-indent: 1em;
    margin-bottom: 0em;
    text-align: left;
    max-width: 700px;
}
blockquote {
    text-align: center;
    font-weight: bold;
    max-width: 700px ;
    color: palevioletred;
}
/*Editing the image*/
.img-border {
    display: block;
    width: 50%;
    border:6px solid tan;
    border-radius: 5%;
}
figcaption {
    color:lightslategray;
    font-weight: bold;
    min-width: 300px;
    max-width: 600px;
    text-align: center;
}
/*Fixing Paragraphs so they're side by side*/
.banjo {
    color: white;
  background-color:thistle;
  margin: 10px;
  width: 350px;
  height: 150px;
  display: inline-block;
}
.brunch {
    color: white;
    background-color:rgb(52, 110, 105);
    margin: 10px;
    width: 400px;
    height: 180px;
    display: inline-block;
}
/* Editing the Resources*/
li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:dodgerblue;
    background-color:lightpink;
    max-width: 150px;
}