@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
html{
    font-size: 19px;
    background-color: #B7B7A4;
}

h1, h3, blockquote{
    font-family: 'Sacramento', cursive;
    color: #6B705C;
}

p, li{
    font-family: Arial, Helvetica, sans-serif;
    color: #6B705C;
}

blockquote{
    font-size: 26px;
}

li, ul, blockquote{
    background-color: #FFE8D6;
    margin: auto;
}

h1, h3{
    background-color: #CB997E;
    margin: auto;
}

p{
    background-color: #DDBEA9;
    margin: auto;
}
