/* || Typography */
h1 {
  font-size: 48px;
  font-family: "Helvetica", "Arial", sans-serif;
}

h2 {
  font-size: 36px;
  font-family: "Arial", sans-serif;
}

p {
  font-size: 14px;
  font-family: "Arial", sans-serif;
}

/* || Images */
.image {
  max-width: 200px;
  max-height: 50px;
  margin: 20px;
}

/* || Paragraphs */
.paragraph {
  height: 30%;
  width: 50%;
  padding-right: 20vw;
}