html{
  font-size: 16px;
}
body {
  font-size: 1rem; 
  color: rgba(22, 153, 204, 0.897)
}
h1,h2,h3 {
font-size:1.5rem;
font-family: Arial, Helvetica, sans-serif;
}
article{
  max-width: 500px;
  margin:auto auto;
}
img,a {
  padding:1.5rem;
  color: burlywood;
  border-radius: 20%;
}
header,footer {
  font-size: 1rem;
  background-color: rgb(236, 236, 236);
  font-style: italic;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 0px 0.2px;
  margin-bottom: 12px;
}
.img-border {
  border:1px solid#000;
  float:left;
  padding-right: 20px;
}
