/* GOAL: 
  Practice selecting particular HTML elements and groups of element 
  by using the different selector types: Type, class, and descendant 
  combinator */

/* General Ruleset: 
  Practice making a heading font scheme with font-size */

h1 {
  font-size: 60px;
  font-family: "Helvetica", "Arial", sans-serif;
}

/* General Ruleset: 
  Target the article element.
  Apply a max-width of 500px.
  Center it with the box model's margin as follows: margin: auto auto; */

article {
  max-width: 500px;
   margin: auto auto;
}

/* General Ruleset: 
  Use the box model to style the images and the links */

img {
  max-width: 200px;
  max-height: 50px;
  padding: 20px;
}

li {
  font-weight: bold;
}

/* General Ruleset: 
  Use the box model to style the header and footer? */

header {
  background-color: #e2df4a;
  padding: 40px;
}

footer {
  background-color: #4A90E2;
  padding: 20px;
}

/* More Specific Ruleset: 
  Select any img with the class img-border and add a border to it. */

.img-border {
  border: 2px solid #5D6063;
}

/* More Specific Ruleset: 
  Select any img within a div with the class float.
  Apply a float: left; rule and padding-right: 20px; rule to it. */

  .float img {
    float: left;
    padding-right: 20px;
  }