/* 
  **DO NOT** push your code until class time.
  
  **DO NOT** simply copy-paste the code from the 
  readings. Be sure to write your own HTML page, 
  so you can practice these skills.

  1. Practice organizing and documenting your
  CSS with comments.
  - Logical sections that begin with common/
    general elements to more specfic components
  - Avoid overly specific selectors, if possible

  2. Practice sizing elements. Be sure that at
  least one of the sections sizes an image to fit
  within a parent container that is smaller than the
  image. Be sure to create sections that practice 
  the following different values:
  - One section of HTML sized with fixed values
  - One section of HTML sized with percentages
  - One section of HTML sized with min- & max-
  - One section of HTML sized with viewport units
  
  Use appropriate classes and IDs in your HTML to 
  distinguish these sections and write more 
  meaningful and organized CSS selectors.
 */
 *{color: white; background-color: black;}
 header{font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 1in;
background-color: black;
text-align:center;
color:red;}
h1.header1{text-align: center; font-family:Georgia, 'Times New Roman', Times, serif;
    border-style: ridge; border-color:violet;
    border-width: 60%;}
h1.header2{text-align:center; font-family:fantasy; font-style:oblique; 
            border-style: double; border-color:violet;
            border-width:75%;}
h1.header1+p{color:chartreuse; 
    background-color:red;
    text-align: center;
    max-width: 50%;
    height:45%} 
h1.header2+p{background-color: rgb(55, 0, 255);
    color: rgb(255, 255, 0);
    text-align:center;
    width: vw;
    max-height:vmax ;}
h2 {text-align: center; font-style:unset; font-family:monospace;
    border-style: dotted; border-top-color: orange; border-left-color: red;
        border-right-color: yellow; border-bottom-color: green;}
    
