/* ||GENERAL STYLES */

html {
	background-color: white;
}
body {
	padding: 5px 15px;
	margin: 10px 30px;
	background-color: #fff75e;
	border: 1px solid #7fa564;
}

p {
	padding: 20px;
	margin: auto;
	
}

h1, h2, h3, h4, h5 {
	color: #cff7b6;
	font-weight: 700;
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: disc;
}

blockquote {
	padding: 2%;
	margin: 2%;
	min-height: 40px;
	max-height: 100px;
	min-width: 2px;
	max-width: 200px;
	border: none;
	background-color: #98bf63;
	color: white;
}

img {
	border: none;
	height: 627px;
	width: 1200px;
	text-align: center;
}

/* ||UTILITIES */

.nobullets {
	list-style: none;
	margin: zero;
	padding: zero;
}

/* ||SITE WIDE */

#main-nav {
	background-color: maroon;
	color:white;
}

header {
	background-color: #fdbe39;
	font-size: 50px;
	color: white;
	padding: 2%;
	margin: 2%;
}

footer {
	background-color: #fdbe39;
	color: white;
	font-size: 5em;
	height:20vh;
	width: 90vw;
}

#content {
	padding: 5px;
	margin: 10px;
}

/*||FONT FACES*/
@font-face {
	font-family: 'merriweather';
	src: url('../../../4-drill/assets/fonts/Merriweather-black.tff') format('tff');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'merriweather';
	src: url('../../../4-drill/assets/fonts/Merriweather-bold.tff') format('tff');
	font-style: bold;
	font-weight: 700;
}

@font-face {
	font-family: 'merriweather';
	src: url('../../../4-drill/assets/fonts/Merriweather-italic.tff') format('tff');
	font-style: italic;
	font-weight: 200;
}

