/* 
  **DO NOT** push your code until class time.
  
  **DO NOT** simply copy-paste the code from the 
  readings. Be sure to write your own HTML page, 
  so you can practice these skills.

  1. Practice organizing and documenting your
  CSS with comments.
  - Logical sections that begin with common/
    general elements to more specfic components
  - Avoid overly specific selectors, if possible

  2. Practice sizing elements. Be sure that at
  least one of the sections sizes an image to fit
  within a parent container that is smaller than the
  image. Be sure to create sections that practice 
  the following different values:
  - One section of HTML sized with fixed values
  - One section of HTML sized with percentages
  - One section of HTML sized with min- & max-
  - One section of HTML sized with viewport units
  
  Use appropriate classes and IDs in your HTML to 
  distinguish these sections and write more 
  meaningful and organized CSS selectors.
 */

header {
    font-weight: 700;
}

h1, h3 {
    margin: auto;
    max-width: 200px;
    text-align: left;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    overflow: scroll;
    text-align: left;
    font-weight:300;
    font-family:Arial, Helvetica, sans-serif;
}

.image {
    box-sizing: border-box;
    max-width: 60%;
    max-height: 60%;
    min-width: 20%;
    min-height: 20%;
}