header {
    position:relative;
    display:block;
    max-width:100%;
    height:100%;
    margin:0 auto;
    padding:1rem 5rem;
    color:#000033;
}

.title {
  float:left;
}

.navigation-bar ul {
  size: 100px;
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
  text-align: center;
}
  nav a:hover {
    color: black;
  }

    button {
      width: 200px;
      height: 50px;
      border-radius: 20px;
      background-color: transparent;
      float: right;
     
  }
  
  p {
    font-size: xx-large;
    text-align: left;
  }

  body {
    animation-name: backgroundColorPalette;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear; 
  }

  img {
    size: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  
  @keyframes backgroundColorPalette {
    0% {
      background: #99ddff;
    }
    25% {
      background: #99ddff;
    }
    50% {
      background: #66ccff;
    }
    75% {
      background: #ffd97d;
    }
    100% {
      background: #ffd97d;
    }
  }