header {
    position:relative;
    display:block;
    max-width:100%;
    height:100%;
    margin:0 auto;
    padding:1rem 5rem;
    background:#cccccc;
    color:#fff;
}
nav {
    list-style: none;
    float:right;
    display: block;
    position: relative;
    color: gray;
    overflow: hidden;
    font-size: 25px;
    position: relative;
  }
  nav a:hover {
    color: black;
  }