header {
  display: flex;
  padding: 20px;
}

ul {
  margin-block-start: 1.7em;
}

nav li {
  display: inline;
  margin-right: 30px;
}

.title2 {
  color:#1d3557;
}

.mainpage > * {
  padding: 10px;
  max-height: 300px;
  max-width: 300px;
  font-size: 40px;
}
.mainpage {
  background-color:#f1faee;
  border-radius: 1em;
  margin: .5em;
  max-width: 100em;
  display: flex;
  padding: 20px;
}
.mainpage > p {
  align-self: center;
  padding-left: 20%;
}
.flavors {
  font-size:25px;
  color:#1d3557;
  display: flex;
  align-items: center;
  justify-content: center;
}
.months {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2, 100px);
  padding: 2em;
  background-color: #fae1dd;
  border-radius: 2em;
  margin: 1em;
}
.extra {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1d3557;
  border-radius: 2em;
  padding: 1em;
}
.cones {
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows:repeat(auto-fit, minmax(100px, 1fr));
  font-size: 40px;
  background-color: #fae1dd;
  margin-top: 1.5em;
  border-radius: .5em;
}
.waffle-cones {
  max-width: 70%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.cone {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.toppings figure {
  margin: 0em;
}
.toppings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

figure > img {
  width: 100%;
  height: 100%
}

.data {
  font-size:20px;
  color:#1d3557;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4em;
}

.data-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .5fr 1fr .5fr;
  margin: 4em;
}
.number {
  font-size:48px;
  color:#1d3557;
}

.colored-background {
  font-size:28px;
  background-color:#1d3557;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4em;
  flex-wrap: wrap;
}

.extra2 {
  font-size: 16px;
  border: 1px solid white;
  border-radius: 2em;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: 40%;
  margin-right: 40%
}

footer {
  font-size: 14px;
  font-weight: bold;
  color:rgb(63, 63, 63);
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  flex-direction: row;
}
footer > * {
  margin: 4em;
}
