div
{
  display:flex;
  flex-direction: row;
  align-items:center;
}

li
{
  list-style-type: none;
  display: inline;
  align-items: stretch;
}

.button
{display: inline;
justify-content: flex-end;
 }

 
 .second
 {display: flex;
justify-content: space-around;}


.third {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
margin: auto;
}

div.main
{
  align-content: center;
}