header {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  background-color:peachpuff;
}

header h1 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items:center;
  list-style-type: none;
  color:gray;
  font-size: 1.2rem;
}

header button {
  grid-column-start: 4;
  border-radius: 40px;
  background-color: transparent;
  border: 1px solid gray;
  color:gray;
}
 
 .second
 {display: flex;
justify-content: space-around;
background-color: peachpuff;}

.second ul{display:flex;
list-style:none;
align-items:center;
flex-flow:row wrap;
font-size:1.5rem;
}


.third {display:grid;
grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
column-gap:20px;
row-gap:15px;}

.third h1{grid-column-start: 1;
grid-column-end: 6;
margin:auto;}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
margin: auto;
}
.one {grid-column-start: 1;
  grid-column-end: 2;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  justify-content: space-between;
}

.two {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.three {
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main {display:grid;
  grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
  column-gap:20px;
  row-gap:15px;}
  
  .main button {grid-column-start: 1;
  grid-column-end: 6;
  margin:auto;
font-size:2rem}

.large {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 5px;
  column-gap: 5px;
  background-color: #cca53240;
}

.yellow {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2.5fr 1fr;
}

div.grid p {
  font-size: 2rem;
  padding: 20px;
  grid-column-start: 2;
  grid-column-end: 5;
}

div.grid button {
  grid-row-start: 2;
  grid-column-start: 2;
  color: rgb(255, 196, 0);
  border-radius: 40px;
  background-color: transparent;
  border: 1px solid rgb(255, 196, 0);
  padding: 10px 0px;
}

div.grid img {
  grid-row-start: 3;
  grid-column-start: 4;
  width: 100%;
}

div.orange {
  background-color: orange;
  color: white;
  font-size: 1.25rem;
  text-align: center;
  padding-top: 70px;
}
  