html{
  background-color: moccasin;
}
ul{
  color: red;
  display: flex;
  flex-direction: column-reverse;
  justify-content:last baseline;
}
.wrapper{
  display: grid;
  border: dotted black;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: 200px;
  grid-template-rows: 10px;
}
.lane1{
  display: flex;
  flex-wrap: wrap-reverse;
  align-self: auto;
  padding: 10px;
  border: solid black;
  width: 1000px;
  height: 1fr;
}
.lane2{
  display: flex;
  align-content: space-between;
  padding: 10px;
  border: solid black;
  width: 1000px;
  height: 1fr;
}
