.sidenav{
  display: flex;
  flex-direction: column;
  background-color: orangered;
  height: 100%;
}
.img{
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  padding: auto auto;
  border: solid black;
  border-radius: 3rem;
}
ul{
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  flex-direction: row;
}