/*||GENERAL*/

div {

}

h1 {

}

h2 {

}

p {

}

img {

}

/*SITE WIDE*/

html {

}

header {

}

body {

}

footer {

}

#content {

}

#images {

}

#grid {
    background-color: red;
}

.grid {
    display: grid;
    grid-template-columns: 200px 200px 200px;
}

.fr {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.minmax {
    display: grid;
    grid-template-columns: minmax(100px, 500px)
}

