/*||GENERAL*/

div {

}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 2.5em;
}

p {

}

img {
    display:flex;
    flex-direction: row;
    height: 240px;
    width: 240px
}

/*SITE WIDE*/

html {
    background-color: whitesmoke;
}

header {

}

body {
    font-size: 12px;
}

footer {
    font-size: .75em;
}

#content {

}

#images {

}

#grid {
    background-color: salmon;
    border: solid brown;
}

.grid {
    display: grid;
    grid-template-columns: 200px 200px 200px;
}

.fr {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.minmax {
    display: grid;
    grid-template-columns: minmax(100px, 500px);
}

